variables:
  DOCKER_REPOSITORY: mendersoftware/workflows # server; worker image defined in required jobs

stages:
  - test
  - build
  - publish

include:
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-golang-static.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-golang-unittests.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-apidocs.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-docker-build.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-github-status-updates.yml'

test:prepare_acceptance:
  stage: .pre
  image: docker
  services:
    - docker:19.03.5-dind
  before_script:
    - export WORKER_DOCKER_REPOSITORY="mendersoftware/workflows-worker"
  script:
    - docker build -f Dockerfile.acceptance-testing -t $DOCKER_REPOSITORY:prtest .
    - docker build -f Dockerfile.acceptance-testing.worker -t $WORKER_DOCKER_REPOSITORY:prtest .
    - docker build -f tests/Dockerfile tests -t acceptance-testing:latest
    - docker save $DOCKER_REPOSITORY:prtest > prtest_image.tar
    - docker save $WORKER_DOCKER_REPOSITORY:prtest > prtest_worker_image.tar
    - docker save acceptance-testing:latest > acceptance_testing_image.tar
  artifacts:
    expire_in: 2w
    paths:
      - prtest_image.tar
      - prtest_worker_image.tar
      - acceptance_testing_image.tar

test:unit:
  services:
    - mongo:4.0
  variables:
    WORKFLOWS_MONGO_URL: "mongodb://mongo"

test:acceptance_tests:
  stage: test
  tags:
    - docker
  image: tiangolo/docker-with-compose
  services:
    - docker:19.03.5-dind
  dependencies:
    - test:prepare_acceptance
  before_script:
    - docker load -i prtest_image.tar
    - docker load -i prtest_worker_image.tar
    - docker load -i acceptance_testing_image.tar
  script:
    - make acceptance-testing-up
    - sh -c "sleep 30"
    - make acceptance-testing-run
  after_script:
    - make acceptance-testing-logs
    - make acceptance-testing-down
  artifacts:
    expire_in: 2w
    paths:
      - tests/coverage-acceptance.txt
      - tests/coverage-acceptance-worker.txt

# workflows (server) is built and published by the template; specify
# jobs only for the worker
build:docker:worker:
  extends: build:docker
  variables:
    DOCKER_REPOSITORY: mendersoftware/workflows-worker
    DOCKERFILE: Dockerfile.worker

publish:acceptance_tests:
  stage: publish
  image: alpine
  dependencies:
    - test:acceptance_tests
  before_script:
    - apk add --no-cache bash curl findutils git
  script:
    - bash -c "bash <(curl -s https://codecov.io/bash) -Z -F acceptance -f ./tests/coverage-acceptance.txt"
    - bash -c "bash <(curl -s https://codecov.io/bash) -Z -F acceptanceworker -f ./tests/coverage-acceptance-worker.txt"

publish:image:worker:
  extends: publish:image
  dependencies:
    - build:docker:worker
  variables:
    DOCKER_REPOSITORY: mendersoftware/workflows-worker
